body {

    background-color: white;
}

.navBar nav {

    height: 130px;

    width: 100%;

}

.navBar ul {

    min-width: 1008px;

    width: 100%;

    list-style-type: none;

    margin: 0;

    padding: 0;

}


.navBar li {

    display: inline-block;

    margin: 60px 30px 0 30px;

}

.navBar li a {

    text-decoration: none;

    display: block;

    color: #4b4b4c;

}

.navBar p {


    font-family: Montserrat;

    font-size: 30px;

    font-weight: bold;

}

.navBar li a:hover {

    color: black;

    text-decoration-line: underline;

    font-weight: 400;

}

#logo {

    margin: 15px 30px 15px 15px;

    float: left;

    height: 120px;

}

#main_hr {

    height: 20px;

    border: 0;

    box-shadow: inset 0 20px 20px -20px #00600f;

    width: 100%;

    min-width: 1008px;

}

#sign_up {

    float: right;

}
.navBar li a.active {

    color: black;

}

.navBarLeft {

    min-height: 700px;

    height: 100%;

    width: 200px;

    float: left;

    border: 0;
    
    border-top-right-radius: 10px;

    border-bottom-right-radius: 10px;

    box-shadow: inset -20px 1px 20px -20px #00600f;

}



.navBarLeft li {

    margin: 30px 0 30px 0;

}


.navBarLeft ul {

    list-style-type: none;

    margin: 0;

    padding: 0;

}

.navBarLeft a {

    text-decoration: none;

    display: block;

    color: #4b4b4c;

}

.navBarLeft p {


    font-family: Montserrat;

    font-size: 20px;

    font-weight: bold;

}

.navBarLeft {

    text-align: center;

}